:root {
    --primary-color: #805959;
    --secondary-color: #FFB3B3;
    --third-color: #808080;
    --just-white: #FFFFFF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;
}

body {
    width: 100%;
    height: auto;
    min-width: 320px;
}

a {
    text-decoration: none;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 150px;
    margin: 0 auto;
    border-bottom: 2px solid var(--primary-color);
}
header .header__title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary-color);
    text-align: center;
}

header .header__about {
    font-size: 1.8rem;
    font-weight: 600;
    color:var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

.main__profile-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    grid-auto-rows: minmax(200px, 250px);
    justify-content: center;
    margin-top: 16px;
    gap: 16px;
}

.main__profile-container figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 250px;
    max-height: 250px;
}

.main__profile-container article h4 {
    font-size: 2rem;
    letter-spacing: .15rem;
    margin-bottom: 16px;
}

.main__profile-container article p {
    font-size: 1.6rem;
    line-height: 1.8rem;
}

.main__proyects-container {
    width: 90%;
    margin: 0 auto;
}

.main__proyects-container .proyects-container__title {
    font-size: 2rem;
    letter-spacing: .15rem;
    margin: 16px 0;
    padding-bottom: 16px;
    text-align: center;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.proyect-template__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 300px));
    grid-auto-rows: minmax(250px, 250px);
    justify-content: center;
    gap: 20px;
    max-width: 700px;
    margin: 0 auto;
}

.proyect__template {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.proyect__template h3 {
    font-size: 1.8rem;
    color: var(--primary-color);
}

.proyect__template p {
    font-size: 1.5rem;
    line-height: 2rem;
}

.proyect__template a {
    display: inline-block;
    width: fit-content;
    font-size: 1.6rem;
    font-weight: bold;
    align-self: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 8px;
    border-radius: 8px;
}

footer {
    width: 100%;
    height: 150px;
    min-width: 320px;
    border-top: 2px solid var(--primary-color);
    margin-top: 30px;
}

footer .footer__social-media {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer .footer__social-media a img{
    filter: invert(35%) sepia(6%) saturate(2601%) hue-rotate(314deg) brightness(98%) contrast(77%);
    width: 40px;
    height: 40px;
}